.click-btn {
  padding: 10px 15px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
}
.click-btn:hover {
  background-color: rgb(3, 3, 212);
}
.submit-btn {
  padding: 10px 15px;
  background-color: white;
  color: blue;
  border-radius: 5px;
  border: 1px solid blue;
}
.submit-btn:hover {
  background-color: rgb(246, 245, 245);
}
